<h2><%= feature.name %></h2>

<div class="col">
  <%= form_tag feature_path(feature.name), :class => "percentage_form", :method => :put, :remote => true do %>
    <label>Percentage</label>
    <select class="percentage" name="percentage">
      <% 101.times do |i| %>
        <option value="<%= i %>"<%= " selected='selected'" if feature.percentage == i.to_s %>><%= i %>%</option>
      <% end %>
    </select>
    <input type="submit" value="Save" />
  <% end %>
</div>
